In [7]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats
from keras.models import Sequential
from keras.layers.core import Dense, Activation, Flatten, Dropout
from keras.layers.convolutional import Convolution2D
from keras.optimizers import Adam

#from hyperopt import fmin, tpe, hp, STATUS_OK, Trials
import os
import keras
import theano
import random
import pickle

#import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
data_dir = "./Data/"
results_dir = "./Results/"
figures_dir = "./Figures/"
model_name = "Random_UTR_CNN"
model_params_dir = "./Results/{0}.Hyperparam.Opt/".format(model_name)

if not os.path.exists(data_dir):
    os.mkdir(data_dir)

if not os.path.exists(data_dir):
    os.mkdir(data_dir)

if not os.path.exists(data_dir):
    os.mkdir(data_dir)

if not os.path.exists(data_dir):
    os.mkdir(data_dir)

In [10]:
data = pd.read_csv(data_dir + 'Random_UTRs.csv')

In [13]:
data[:20]

,Unnamed: 0,UTR,growth_rate,t0,t1
0,0,AAAAAAAAAACATAATAACGATGATCAGTTAAAATCATAGTCTAAG...,-1.237065,14,3
1,1,AAAAAAAAAAGACTACAACAGATTGTAGTGGCGGACCAGTGTGCCT...,1.288663,14,49
2,2,AAAAAAAAAATATGGGGCCCTGTTCCAAAGATACCTCAATTTCATA...,-0.608457,13,6
3,3,AAAAAAAAAATCTCTGGCCCGATTATACTGGAGCTAATGTAAAATT...,-1.093964,12,3
4,4,AAAAAAAAACATAAATATGAAGGCCTGACATTATAAATAACTTACC...,-0.048841,7,6
5,5,AAAAAAAAACGAAATCAAACAAGAGAAAAACTGCATAGTTCACTTA...,0.822290,10,22
6,6,AAAAAAAAACGAATGAACGAGTAACAAAGGACCCCTAATAACTCGA...,-1.013922,2,0
7,7,AAAAAAAAACGGCAAACATAAGTAAGCGCTAAAACCTTTTATTGAA...,-0.104551,28,23
8,8,AAAAAAAAACGTTGCTATTATACCGAAGTCGCCCTAAAGCGTCCCT...,0.994061,57,143
9,9,AAAAAAAAACTAATTCTGGAGCGACAAGTTTATACCCCATATTTTC...,-0.113760,49,40
10,10,AAAAAAAAACTCTGGTCGATCGAAGCTTTTTACTCGTCAACCACAA...,1.470985,27,111
11,11,AAAAAAAAACTTGCATCCTACTGGAGGGTTAGGTACTAGACTTCTG...,0.185787,46,51
12,12,AAAAAAAAATACGATGTGCCATACTAGATCGAAATTTGAACATGGA...,-1.206294,39,10
13,13,AAAAAAAAATATTTTCACTTTACTCGAGGACAATTATTCAACTGCC...,1.293002,22,76
14,14,AAAAAAAAATCGTGCTGCCCAGATCTAGAGCAGTCCCTGTTGCCAT...,-3.093363,23,0
15,15,AAAAAAAACACAGTCCAGTCGAACACCATTCATCTAGGCGTTCATC...,1.460833,98,391
16,16,AAAAAAAACATACAATTCCTAGAAGTCAAGAGATGGAGTTATAGCC...,-1.861220,55,7
17,17,AAAAAAAACGACATAACGGTTCAGGCGAAGACAAATCATTACCGCA...,0.025850,69,65
18,18,AAAAAAAACGGGCGAGCCCGAGGAAGCGGCTTTTAATGAATATCTC...,0.971994,13,33
19,19,AAAAAAAACGTAGATCGACCATGCTTTATCGTGCGGCTCTGAAATT...,-0.080824,58,49

In [12]:
type(data)

pandas.core.frame.DataFrame

In [85]:
df = data
def one_hot_encoding(df, seq_column, expression):

    seq_column = "UTR"
    #def one_hot_encoding(df, seq_column, expression):
    bases = ['A', 'C', 'G', 'T']
    base_dict = dict(zip(bases, range(4)))

    n = len(df)
    total_width = df[seq_column].str.len().max() + 20
    X = np.zeros((n, 1, 4, total_width))
    seqs = df[seq_column].values

    for i in range(n):
        seq = seqs[i]
        for b in range(len(seq)):
            X[i, 0, base_dict[seq[b]], int(b + round((total_width - len(seq))/2.))] = 1.
        if(i%10000)==0:
            print(i, end=" ")

    #X = X.astype(theano.config.flatX)
    #Y = np.asarray(df[expression].values, 
    #              dtype=theano.config.floatX)[:, np.newaxis]
    Y = np.asarray(df[expression].values)[:,np.newaxis] 
    return X, Y, total_width

In [87]:
data

,Unnamed: 0,UTR,growth_rate,t0,t1
0,0,AAAAAAAAAACATAATAACGATGATCAGTTAAAATCATAGTCTAAG...,-1.237065,14,3
1,1,AAAAAAAAAAGACTACAACAGATTGTAGTGGCGGACCAGTGTGCCT...,1.288663,14,49
2,2,AAAAAAAAAATATGGGGCCCTGTTCCAAAGATACCTCAATTTCATA...,-0.608457,13,6
3,3,AAAAAAAAAATCTCTGGCCCGATTATACTGGAGCTAATGTAAAATT...,-1.093964,12,3
4,4,AAAAAAAAACATAAATATGAAGGCCTGACATTATAAATAACTTACC...,-0.048841,7,6
...,...,...,...,...,...
489343,489343,TTTTTTTGTTCCGAAGAGACCACTCAAACGTGAGCACGGCCAGACA...,1.380601,80,295
489344,489344,TTTTTTTGTTCTCTCTTCAAAATCAGTCACCCCCAGTGCGTGCACT...,0.796187,26,54
489345,489345,TTTTTTTTACAACCAGAGGATAGATTTAAGACGTCCGTCAGACCCG...,0.731318,10,20
489346,489346,TTTTTTTTATAGCTGGTTGGTACCCCTGTATGGTCTTCCGACACGG...,-0.944929,13,4
489347,489347,TTTTTTTTCGGCATTTATGTAAGTGAGCTTGCGAAGACAAGCTACA...,-2.112534,8,0

In [88]:
X, Y, total_width = one_hot_encoding(data[:20], "UTR", "growth_rate")

0

AttributeError: 'TheanoConfigParser' object has no attribute 'flatX'

In [76]:
seqs[0][:14]

'AAAAAAAAAACATA'